/*Arun Pandyan Vasam*/
/*10/April/2023*/
body {
    display: block;
    margin-top: 5%;
    background-color: #66a5ad;
    background-image: url('./_images/Keshava.jpg');
    opacity: 0.8;
}

h1 {
    text-align: center;
}

#content {
    width: 500px;
    margin: 0px auto;
    background-color: #BC3908;
    padding: 50px;
}

label {
    width: 170px;
    display: inline-block;
    font-size: 18px;
}