body {
    
    background-image: url('./images/keshavbabu.png'); /*url('./Keshav/images/keshavbabu.jpg'); use single dot*/ 
    background-repeat: no-repeat;
    }
    
    .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 200px;
    border-radius: 50%;
    }
    
    .profile-name {
    text-align: center;
    padding: 30px;
    font-size: 50px;
    }
    
    .center {
    font-size: 25px;
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-width: 5px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    }
    
    a {
    text-decoration: none;
    color: purple;
    transition: 1s;
    }
    
    a:hover {
    color: black;
    background-color: white;
    }