body {
    height: 100vh;
    background-color: aqua;
    background-image: url('./images/Keshava.jpg'); /*url('./Keshav/images/keshavbabu.jpg'); use single dot*/ 
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    /**/ 
    }
    
    .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 200px;
    border-radius: 50%;
    }
    
    .profile-name {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    }
    
    .center {
    font-size: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    border-width: 5px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    }
    
    a {
    text-decoration: none;
    color: green;
    transition: 1s;
    }
    
    a:hover {
    color: black;
    background-color: white;
    }

    .menu_bar {

        background-color: #f89221;
        text-align: center;
    }

    .menu_bar ul {
        display: inline-flex;
        list-style: none;
        color: white;
    }

    .menu_bar ul li {
        width: 120px;
        margin: 0px;
        padding: 0px;
    }

   